[submodule "engine/dependencies/freetype"]
	path = engine/dependencies/freetype
	url = https://github.com/kociap/FreeType.git
[submodule "engine/dependencies/zlib"]
	path = engine/dependencies/zlib
	url = https://github.com/kociap/zlib.git
[submodule "engine/dependencies/glad"]
	path = engine/dependencies/glad
	url = https://github.com/kociap/glad.git
[submodule "engine/dependencies/mimas"]
	path = engine/dependencies/mimas
	url = https://github.com/kociap/mimas.git
[submodule "engine/dependencies/harfbuzz"]
	path = engine/dependencies/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
