# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE files
## VSCode
.vscode
## Visual Studio
.vs
CMakeSettings.json
## Qt Creator
*.user

# Don't ask me, just don't push
dump
engine/buildtools

# Tutorial things
assets_main

build/
